@using Eduker.Areas.Admin.ViewModels.RolesVm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model EditRoleVm

<div>
    <form method="post">
        <div>
            <p>Name</p>
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div>
            <button type="submit">Commit</button>
        </div>
    </form>
</div>

<a asp-area="Admin" asp-controller="User" asp-action="Index">
    <button type="submit">
        Back
    </button>
</a>